<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-dark next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="links">
    <a href="/assets/PounceOnIt.jpg", data-gallery>
        <img src="/assets/demcardz.png" alt="Dem Cardz Boi">
    </a>
    <a href="/assets/NewHat.jpg" data-gallery></a>
    <a href="/assets/LarzChallenge8.jpg" data-gallery></a>
    <a href="/assets/HotDamn.jpg" data-gallery></a>
    <a href="/assets/DanHossScienceChoice.jpg" data-gallery></a>
    <a href="/assets/Can'tWait.jpg" data-gallery></a>
    <a href="/assets/BananaTiem.jpg" data-gallery></a>
    <a href="/assets/Acting102.jpg" data-gallery></a>
</div>