<% provide(:title, "Cardz") %>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <div class="center">
        <h3>
            <u>
                <b>Coming Soon!</b>
            </u>
        </h3>
    </div>
</meta>