<% provide(:title, "Cardz") %>

<br />
<div class container="container-fluid">
    <div class="center">
        <h3>
            <u>
                <b>THE ALPHA DECK - 144 Cards</b>
            </u>
        </h3>
        <h3><b><%= render "downloads/age_check" %></h3></b>
        <h3>
            ***Updated Deck Coming Extremely Soon***
        </h3>
        <br />
        <p>Our state of the art, purist, modern, black and white design is sure to wow.</p>
        <br />
        <p>
            The Alpha deck is filled with crazy weird cards for
            your friends to go wild with. There are more than enough
            for hours of gameplay.
        </p>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <%= image_tag("Acting102.jpg", :alt => "Acting 102") %>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <p>
                        <div id="small">Some are easy going.</div> 
                        <div id="small">Some are typical party vibin’.</div>
                        <div id="small">Some are pretty zany.</div>
                        <div id="small">Some are gross.</div>
                        <div id="small">Fun!</div>
                    </p>
                    <%= image_tag("HotDamn.jpg", :alt => "Hot Damn") %>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <%= image_tag("WellThisIsWeird.jpg", :alt => "Well This Is Weird") %>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <%= image_tag("BananaTiem.jpg", :alt => "Acting 102") %>
                </div>
                 <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <%= image_tag("combocardz.jpg", :alt => "Franken Larz, Banana Tiem") %>
                </div>
                 <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <%= image_tag("DanHossScienceChoice.jpg", :alt => "Acting 102") %>
                </div>
            </div>
            <br />
            <p>
                <div id="small">
                    No participant in the LarzCardz experience must perform any action listed on any card 
                    nor should they be pressured into doing so. The game is intended to be a fun experience 
                    for all players. LarzCardz and its affiliates take no responsibility for any actions performed 
                    by participants in relation to the game and cards involved. LarzCardz is intended for those who 
                    are of legal drinking age. Always drink responsibly. LarzCardz and its affiliates do not condone 
                    alcohol abuse. Do not drink to excess or drink and drive.
                </div>
            </p>
    </div>
</div>