<% provide(:title, "Home") %>

<br />
<div class container="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <p>
LarzCardz is a weird party game for you and your friends. It combines all the fun of a normal party game, but introduces weird things, challenges and scenarios and gets rid
of all the annoying thinking you have to do with other games.
            </p>
            
            <br />

            <p>
                When playing LarzCardz there are fun things like:
            </p>
            <div class="col-md-6">
                    <p>- Licking</p>
                    <p>- Screaming</p>
                    <p>- Physical Challenges</p>
                    <p>- Mental Challenges</p>
                    <p>- Running</p>
                    <p>- Acting</p>
                    <p>- Seducing</p>
                    <p>- Calling Your Dad</p>
            </div>
            <div class="row">
                <br />
                <br />
                <br />
                <br />
                <div class="col-align-self-end">
                    <%= image_tag("WebImage2.jpg", :alt => "Creepy Larz") %>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <%= image_tag("lzg.jpg", :alt => "Jacked Larz with Girraffe") %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                On top of being a crazy fun game, it’s a mediocre icebreaker too. So get out there and become the larz of your dreams!
            </p>
            <div>
                <%= image_tag("WebImage5.jpg", :alt => "Butterfly Larz") %>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <%= image_tag("WebImage4.jpg", :alt => "Sandwich") %>
            </div>
        </div>
        <div class="col-md-6">
 
        </div>
    </div>
</div>

</div>

 
 
 
