<% provide(:title, "Home") %>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <div class="center">
        <p>
            LarzCardz is a weird party game for you and your friends. It combines all the fun of a normal party game, but introduces weird things, challenges and scenarios and gets rid
            of all the annoying thinking you have to do with other games.
        </p>
        <br />
        <%= image_tag("WebImage2.jpg", :alt => "Creepy Larz") %>
        <p>
            When playing LarzCardz there are fun things like:
        </p>
        <div class="col-md-6">
            <p>- Licking -</p>
            <p>- Screaming -</p>
            <p>- Physical Challenges -</p>
            <p>- Mental Challenges -</p>
            <p>- Running -</p>
            <p>- Acting -</p>
            <p>- Seducing -</p>
            <p>- Calling Your Dad -</p>
        </div>
        <br />
        <p>
            On top of being a crazy fun game, it’s a mediocre icebreaker too. So get out there and become the larz of your dreams!
        </p>
        <%= image_tag("WebImage5.jpg", :alt => "Butterfly Larz") %>
    </div>            
</meta>