<% provide(:title, "How To Play") %>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <div class="center">
        <h3>
            <u>How to play</u>
        </h3>
        <p>step 1:</p>
        <p>Be enthusiastic</p>
        <br />
        <p>step 2:</p>
        <p>Let go of all your fears</p>
        <br />
        <p>step 3:</p>
        <p>Draw a card and read what the gods have dealt you</p>
        <p>or</p>
        <p>Get a little spicy and deal hands to each player.</p>
        <p>
            On a player’s turn they get to give a card from their hand to any
            other player they want. The chosen one must do whatever’s on their card.
        </p>
        <br />
        <p>
            For all modes of play, whoever draws the first Larz-Designated card out of the
            deck, immediately becomes the first Larz. The instructions on the card are void,
            becoming the Larz is all the person must do.
        </p>
        <h3>
            <u>types of cards</u>
        </h3>
        <br />
        <p>
            <u>Standard</u>
        </p>
        <%= image_tag("Can'tWait.jpg", :alt => "Can't Wait") %>
        <p>
            <div id="small">Read these cards aloud and</div> 
            <div id="small">follow the instructions.</div>
        </p>
        <br />
        <p>
            <u>Do Not Read Aloud</u>
        </p>
        <%= image_tag("PounceOnIt.jpg", :alt => "Pounce On It") %>
        <p>
            <div id="small">Do not read these cards aloud.</div>
            <div id="small">Read them to yourself and place them</div>
            <div id="small">facedown in front of you until you</div>
            <div id="small">complete the instructions listed.</div>
        </p>
        <br />
        <p>
            <u>or</u>
        </p>
        <%= image_tag("XXX.jpg", :alt => "Or Card") %>
        <p>
            <div id="small">Read these cards aloud and choose</div>
            <div id="small">one of the options listed.</div>
        </p>
        <br />
        <p>
            <u>Larz-Designated</u>
        </p>
        <%= image_tag("NewHat.jpg", :alt => "New Hat") %>
        <p>
            <div id="small">Whoever is the Larz must perform the</div> 
            <div id="small">finstructions on these cards.</div>
            <div id="small">(I.E. give you their underwear)</div>
        </p>
        <br />
        <p>
            <u>Larz Challenge</u>
        </p>
        <%= image_tag("LarzChallenge8.jpg", :alt => "Larz Challenge #8") %>
        <p>
            <div id="small">You and the Larz must perform the</div>
            <div id="small">instructions on these cards. Stakes of</div>
            <div id="small">the challenge are listed on each card.</div>
        </p>
    </div>
</meta>