<div class="center">
<div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-cardz" data-toggle="modal" data-target="#myModal">Download the Cardz!</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="center">
            <h2 class="modal-title">Please verify your age</h2>
            <h5>Are you over 21 years in age?</h5>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
                <%= link_to "Yes", downloads_path %>
            </div>
            <div class="col-md-6">
                <div data-dismiss="modal"><%= link_to "No", "#" %></div>
            </div>
        </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
</div>