<header class="navbar navbar-default navbar-static-top">
  <div class container="container-fluid">
    <div class="col-6" id="logo">Larz Cardz</div>
      <div class="row">
        <div class="center">
          <div class="col-6 col-sm-3"><%= link_to "Home", root_path, id: "logo-three"  %></div>
          <div class="col-6 col-sm-3"><%= link_to "How To Play", how_to_play_path, id: "logo-three" %></div>
          <div class="col-6 col-sm-3"><%= link_to "Cardz", cardz_path, id: "logo-three"  %></div>
          <div class="col-6 col-sm-3"><%= link_to "Board Games", board_games_path, id: "logo-three"  %></div>
        </div>
      </div>
    </div>
  </div>
</header>