<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
      <%= render 'layouts/rails_default' %>
      <%= render 'layouts/shim' %>
      <%= render 'layouts/header' %>
  </head>
  <div id="modal-window" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
  <body>
    <%= render 'layouts/application_layout' %>
  </body>
</html>

<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">